html {
    box-sizing: border-box;
}

.box {
    border: 2px solid black;
    background-color: white;
}

.row {
    display: flex;
}

#grid-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.hidden {
    display: none;
}

.selected1 {
    background-color: gray;
}

.wrongchoice {
    background-color: aqua;
}

.red {
    background-color: red;
}

.endmenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .55);
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    flex-direction: column;
}

#endsettingsmenu {
    background-color: #7fffd490;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10%;
}

.settingbutton {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.settingbutton:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.winmenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 21, 64, .55);
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    flex-direction: column;
}

#winsettingsmenu {
    background-color: #69cccc79;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10%;
    color: black;
}

#startmenu {
    background-color: #7fffd490;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(55, 21, 64, .55); */
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 30px;
    flex-direction: column;
    border: 5px solid #696969;
    margin: 1vw;
    padding: 20%;
}